<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>交换记录详情</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../assets/admin-lte/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../assets/admin-lte/css/skins/_all-skins.min.css">
<style type="text/css">
img.annex-preview {
    height: 80px;
}
</style>
</head>

<body>
    <div id="app" class="skin-blue-light">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li role="presentation">
                    <a href="#exchange" aria-controls="exchange" role="tab" data-toggle="tab">交换记录详情</a>
                </li>
                <li role="presentation">
                    <a href="#annexes" aria-controls="annexes" role="tab" data-toggle="tab">附件信息</a>
                </li>
                <!--
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-controls="persons" id="a-persons" aria-expanded="false">
                        <span>嫌疑人信息</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="a-properties" id="persons">
                        <li role="presentation" v-for="p in info.persons">
                            <a :href=" '#' + p.id " :aria-controls=" p.id " role="tab" data-toggle="tab">{{p.personName}}</a>
                        </li>
                    </ul>
                </li>
                -->
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-controls="properties" id="a-properties" aria-expanded="false">
                        <span>财物信息</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="a-properties" id="properties">
                        <li role="presentation" v-for="p in info.properties">
                            <a :href="'#' + p.id" :aria-controls="p.id" role="tab" data-toggle="tab">{{p.propertyName}}</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="active">
                    <a href="#case" aria-controls="case" role="tab" data-toggle="tab">案件信息</a>
                </li>
                <li class="pull-left header">
                    <i class="fa fa-info"></i>
                    <span>交换记录详情</span>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="case">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2">案件名称：</label>
                            <div class="col-xs-10">
                                <input :value="info.caze.caseName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">承办单位名称：</label>
                            <div class="col-xs-10">
                                <input :value="info.caze.organizerName" class="form-control" readonly />
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 财物信息 开始 -->
                <div role="tabpanel" class="tab-pane" :id="p.id" v-for="p in info.properties">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2">财物名称：</label>
                            <div class="col-xs-4">
                                <input :value="p.propertyName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">二维码：</label>
                            <div class="col-xs-4">
                                <input :value="p.qrCode" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">财物类型：</label>
                            <div class="col-xs-4">
                                <input :value="p.propertyType" class="form-control" readonly />
                            </div>
                            <label class="control-label col-xs-2">数量：</label>
                            <div class="col-xs-4">
                                <input :value="p.number" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">财物状态：</label>
                            <div class="col-xs-4">
                                <input :value=" p.propertyStatus" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">存储位置：</label>
                            <div class="col-xs-10">
                                <input :value="p.kwmc" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">特征：</label>
                            <div class="col-xs-10">
                                <textarea class="form-control" readonly rows="6">{{p.remake}}</textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 财物信息 结束 -->

                <!-- 嫌疑人信息 开始 -->
                <!--
                <div role="tabpanel" class="tab-pane" :id=" p.id " v-for="p in info.persons">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2">姓名：</label>
                            <div class="col-xs-10">
                                <input :value=" p.personName " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">性别：</label>
                            <div class="col-xs-10">
                                <input :value=" p.gender " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">罪名：</label>
                            <div class="col-xs-10">
                                <input :value=" p.crimeName " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">单位所在地：</label>
                            <div class="col-xs-10">
                                <input :value=" p.unitAddress " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">证件类型：</label>
                            <div class="col-xs-10">
                                <input :value=" p.idType " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">证件号码：</label>
                            <div class="col-xs-10">
                                <input :value="p.idNumber" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">出生日期：</label>
                            <div class="col-xs-10">
                                <input :value=" p.birthday | datetime " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">联系电话：</label>
                            <div class="col-xs-10">
                                <input :value=" p.phoneNumber " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">国籍：</label>
                            <div class="col-xs-10">
                                <input :value=" p.nation " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">籍贯：</label>
                            <div class="col-xs-10">
                                <input :value=" p.nativePlace " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">案发地：</label>
                            <div class="col-xs-10">
                                <input :value=" p.venue " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">住所地：</label>
                            <div class="col-xs-10">
                                <input :value=" p.address " class="form-control" readonly />
                            </div>
                        </div>
                    </form>
                </div>
                -->

                <div role="tabpanel" class="tab-pane" id="annexes">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>附件名称</th>
                                <th>附件类型</th>
                                <th>操作</th>
                                <th>预览</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(a,i) in info.annexs" :key="">
                                <td>{{i+1}}</td>
                                <td>{{a.file_name}}</td>
                                <td>{{a.suffix_name}}</td>
                                <td>
                                    <a :href=" locat + '/annex/download?id=' + a.id " class="btn btn-default btn-flat btn-sm" target="_blank">下载</a>
                                </td>
                                <td>
                                    <img v-if="isImage(a.suffix_name)" :src=" locat + '/annex/preview?id=' + a.id " class="annex-preview" @click="imgPreview(a.id)"></img>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="exchange">
                    <form class="form-horizontal">
                       <!--  <div class="form-group">
                            <label class="control-label col-xs-2">案件编号：</label>
                            <div class="col-xs-10">
                                <input :value=" info.exchange.platCaseCode " class="form-control" readonly />
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="control-label col-xs-2">案件名称：</label>
                            <div class="col-xs-10">
                                <input :value=" info.exchange.caseName " class="form-control" readonly />
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                       <!--  <div class="form-group">
                            <label class="control-label col-xs-2">发送单位：</label>
                            <div class="col-xs-10">
                                <input :value=" info.exchange.sendUnitName " class="form-control" readonly />
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label class="control-label col-xs-2">发送人：</label>
                            <div class="col-xs-10">
                                <input :value=" info.exchange.sendPersonName " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">接收单位：</label>
                            <div class="col-xs-10">
                                <input :value=" info.exchange.receiveUnitName " class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">交换操作名称：</label>
                            <div class="col-xs-10">
                                <input :value=" info.exchange.exchangeOperationName " class="form-control" readonly />
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="control-label col-xs-2">操作时间：</label>
                            <div class="col-xs-10">
                                <input :value=" info.exchange.createTime | datetime " class="form-control" readonly />
                            </div>
                        </div>
                      <!--   <div class="form-group">
                            <label class="control-label col-xs-2">发送时间：</label>
                            <div class="col-xs-10">
                                <input :value=" info.exchange.sendTime | datetime " class="form-control" readonly />
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="control-label col-xs-2">备注：</label>
                            <div class="col-xs-10">
                                <textarea class="form-control" readonly style="height: 80px;">{{info.exchange.remark}}</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

         
    <script src="../../assets/vue/vue.min.js"></script>
    <script src="../../assets/jquery/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/admin-lte/js/adminlte.min.js"></script>
    <script src="../../assets/moment/moment.min.js"></script>
    <script src="../../assets/layer/layer.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/exchange/BackDetail.js"></script>
</body>

</html>